.loader, .main{
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main__text{
    font-weight: 700;
}